<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.BlackHumour.TaxSys.privilege.dao.PrivilegeMapper" >
  <resultMap id="privilegeResultMap" type="cn.BlackHumour.TaxSys.privilege.entity.Privilege" >
    <id column="p_code" property="pCode" jdbcType="VARCHAR" />
    <result column="p_name" property="pName" jdbcType="VARCHAR" />
  </resultMap>
  
  
  <select id="selectAll" resultMap="privilegeResultMap">
  	select p_code, p_name from privilege;
  </select>
  
</mapper>